<table>
  <tbody>
      <tr>
      <th>Notification Default Address</th>
      <td><input type="text" id="setting_interval_ft" 
                 value="<%= settings['interval_ft'] %>" 
                 name="settings[interval_ft]" >
     </tr>
  </tbody>
</table>
